<h1 class="text-center  tit">about</h1>
<p class="text-right font-weight-bolder mt-4 ul"> فروتي هي مؤسسة سعودية تهتم بالمنتجات المحلية واختصاصها هو الفواكه والخضار , نسعى في فروتي لنكون الأفضل في مجال الخضار و الفواكه , طموحنا أن نكون الخيار الأول للمستهلك في وطننا الحبيب </p>