<h1 class="text-center  tit">about</h1>
<p class=" font-weight-bolder mt-4 ul">
 Froute is a Saudi company provide local products and its specialty 
is fruits and vegetables, we seek to be 
The best in the field of delivering vegetables and fruits, our ambition is to be the first 
choice for the people who lives in our  beloved country. </p>