
<h1 class="text-center tit" >FRUITY</h1>
<p class=" font-weight-bolder mt-4 ul">In Frouty, we are a costumer centric company that provides 
the highest quality possible.   
</p>
<p class=" font-weight-bolder mt-4 ul">Four simple steps to order from our online store:</p>
<ul class=" font-weight-bolder ul" >
    <li>Sign up/Sign in to your account.</li>
    <li>Choose from our various choices.</li>
    <li>Choose the most suitbale method of payment</li>
    <li>Be ready to enjoy the deliciousness.</li>
</ul>

<%= link_to 'Order Now', products_path , class: "btn btn-success btn-lg btn-block mb-3" %>