
<h1 class="text-center tit" >FRUITY</h1>
<p class="text-right font-weight-bolder mt-4 ul">في فروتي نهتم بأجود أنواع الخضار و الفواكه حيث أن شعارنا هو الجودة والسرعة </p>
<p class="text-right font-weight-bolder mt-4 ul">:أربع خطوات بسيطة للطلب من موقعنا </p>
<ul class="text-right font-weight-bolder ul" dir="rtl">
    <li>سجل دخول في حسابك.</li>
    <li>اختر من باقاتنا المتنوعة.</li>
    <li>حاسب.</li>
    <li>الفواكه عند بابك.</li>
</ul>

<%= link_to 'اطلب الآن', products_path , class: "btn btn-success btn-lg btn-block" %>