// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tit{
    font-size: 60px;
    font-weight: 900;
    color: white;
}
.ul{
    color: white;
    font-size: 30px;
}