<div class="row justify-content-md-center footer-copy">
    <div class="col-lg-8 col-md-6 col-sm-6 text-center">
        <p class="lead text-white-50">© Copyright Reserved to MansourTech </p>
        <p> 
        </p>
    </div>
</div>
<div class="card text-white bg-secondary mb-0">
  
  <div class="card-body">
    <h5 class="card-title">Secondary card title</h5>
    <h5 class="card-title">
        <a href="https://twitter.com/Mansour789" target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com/in/mansour-almohsen-748534135/" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://www.snapchat.com/add/mansour7899" target="_blank" class="fa fa-snapchat-ghost"></a></h5>
    <h5 class="card-title text-center">Secondary card title</h5>
    <h5 class="card-title text-center">© Copyright Reserved to MansourTech </h5>
    
  </div>
</div>